# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# settings for JetBrains IDEs
ij_javascript_spaces_within_imports = true
ij_html_line_comment_at_first_column = false
ij_html_block_comment_at_first_column = false

[*.{html,css,js,ts,json,vue,jsx,tsx,yml,yaml,mjs,cjs}]
indent_size = 2
